
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Itim&family=Josefin+Sans&display=swap');


*{
    padding: 0;
    margin: 0;
}
html{


     background-color:#FAF9FE ;
 
}
h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px auto 10px auto;
}


.box{
    width: 70%;
    min-width: 200px;
    position: relative;
    margin: 71px auto;
    /* padding: 10px 4px 10px 4px ; */
    padding: 10px;
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
/* font-size: 16px; */
}


.image{

    width: 70%;
    border-radius:16px;
    /* position: relative; */
    float: right;
    /* padding: 0px 4px ; */
    padding: 10px;

}
.heading{
    margin: 5px 10px 10px 15px;  
}
.date{
    margin: 15px;

 }
.explanation{
    margin: 15px;
}
@media only screen and (max-width: 800px) {
  .image{
      width: 100%;
      float: none;
    
      padding: 0;

  }

  }